<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itlyc.document.mapper.DocumentMapper">
    <insert id="saveFolder" useGeneratedKeys="true" keyProperty="id">
        insert into doc_folder
        (company_id, parent_id, name, `order`, company_user_id) values
        (#{companyId}, #{parentId}, #{name}, #{order}, #{companyUserId})
    </insert>
    <select id="queryCompanyFolder" resultType="com.itlyc.document.entity.Folder">
        select * from doc_folder where parent_id = #{parentFolderIdId} and company_id = #{companyId} and status = 1
    </select>
</mapper>
