<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itlyc.mapper.CompanyUserMapper">
    <select id="findSysUser" resultType="com.itlyc.sys.entity.CompanyUser">
        select * from sys_company_user where mobile = #{userName}
    </select>

    <select id="queryCompanyAdmins" resultType="com.itlyc.sys.dto.CompanyUserDTO">
        SELECT DISTINCT cu.* from sys_company_user cu INNER JOIN (select sr.id from sys_role sr
         where sr.role_name LIKE #{roleNameLike} and sr.company_id = #{companyId}) temp on FIND_IN_SET(temp.id, cu.role_ids)
          where cu.company_id = #{companyId}
    </select>

    <select id="queryCompanyMembersByPage" resultType="com.itlyc.sys.entity.CompanyUser">
        select * from sys_company_user where company_id = #{companyId}
    </select>

    <update id="updateRoleById">
        update sys_company_user set
        role_ids = #{roleIds},
        role_desc =#{roleDesc}
        where id = #{id}
    </update>
    <!--分页获取部门成员列表-->
    <select id="queryCompanyMembers" resultType="com.itlyc.sys.entity.CompanyUser">
        select * from sys_company_user where
        <choose>
            <when test="departmentId == 0">
                department_id is null
            </when>
            <otherwise>
                department_id = #{departmentId}
            </otherwise>
        </choose>
        <if test="keyword != null and keyword != ''">
            and (
                username like concat("%",#{keyword},"%")
                or work_number like concat("%",#{keyword},"%")
                or mobile like concat("%",#{keyword},"%")
            )
        </if>
        and company_id = #{companyId}
    </select>
    <insert id="saveBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sys_company_user
        (company_id, company_name, post, mobile, work_number, remark, email, office_address, username, create_time, enable) values
        <foreach collection="list" item="companyUser" separator=",">
            (#{companyUser.companyId},#{companyUser.companyName},#{companyUser.post},#{companyUser.mobile},#{companyUser.workNumber},
            #{companyUser.remark},#{companyUser.email},#{companyUser.officeAddress},#{companyUser.username},#{companyUser.createTime},#{companyUser.enable})
        </foreach>
    </insert>
</mapper>
