<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itlyc.mapper.RoleMapper">
    <select id="findRoleByIds" resultType="com.itlyc.sys.entity.Role">
        select * from sys_role where id in
        <foreach collection="ids" separator="," item="id" open="(" close=")">
            #{id}
        </foreach>
    </select>

    <select id="findRoleByCompanyId" resultType="com.itlyc.sys.entity.Role">
        select * from sys_role where company_id = #{companyId}
    </select>

    <update id="updateRole">
        update sys_role set
        role_name = #{roleName},
        function_ids = #{functionIds}
        where id = #{id}
    </update>
</mapper>
